body, html {
    height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #303030;
  margin: 0;
}

h1,h2 {
  margin: 0;
}

h3 {
  text-decoration: underline;
  -webkit-text-decoration-color: #cf8bfc; /* Safari */    
  text-decoration-color: #cf8bfc;
}

header {
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s; 
}

header a:link, header a:visited { 
    color: white;
}

form {
    display: inline;
}

a:link, a:visited { 
    color: black;
    text-decoration: none;
}

a:hover {
    color: #5656d9;
    text-decoration: underline;
}

.btn {
    outline: none;
    width: 100%;
    height: 47px;
    font-size: 25px;
    cursor: pointer;
    width: 49%;
    max-width: 300px;
    border: 2px solid #cf8bfc;
    color: #cf8bfc;
    margin: 10px 0;
    box-shadow: 2px 2px rgba(207, 139, 252, 0.39);
    -webkit-transition: all .3s;
    transition: all .3s; 
}

.btn:hover {
    box-shadow: 2px 2px #cf8bfc;
}

.btn:active {
    box-shadow: none;
}



.container {
  max-width: 900px;
  margin: auto;
}

/* opening view greeting */
.greeting {
  box-sizing: border-box;
  background-image: url(../pic/john-reign-abarintos-369080-unsplash.png);
  background-color: #03112a;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40vh;
  text-align: center;
  height: 100vh;
  color: white;
}

.contactGreeting {
  display: flex;
  align-items: center;
  justify-content: center
}

.contackLink {
  margin: 10px;
}

.statementGreeting{
  font-size: 2em;
}

/* icons collors */
.githubIcon {
  color: white;
}

.linkedinIcon {
  color: #0077b5;
}

.resumeIcon {
  color: #cc0e0e;
}

.emailLink {
  color: #cf8bfc;
}

.contentBox {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.sectionTitle {
  margin-bottom: 90px;
  margin-top: 60px;
  font-size: 25px;
  width: 100%;
}

.aboutMe {
  margin: auto;
}

#bioBox {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.decStart {
  font-size: 30px;
}

.mySkills {
  margin: auto;
}

.skillcategory {
  width: 130px;
  padding-top: 20px;
  margin: auto;
  text-decoration: underline;
  -webkit-text-decoration-color: #cf8bfc; /* Safari */    
  text-decoration-color: #cf8bfc;
}

.skillList{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.skill {
  background-color: #303030;
  color: white;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 5px;
}

.profileImg {
  border-radius: 50%;
  margin-bottom: 30px;
  max-width: 200px;
}

.projectTemp {
  margin-bottom: 100px;
}

.projectTemp h3 {
    margin: 12px;
    font-size: 1.5em;
}

.projectImg {
    width: 100%;
}

.is-sticky {
    position: fixed;
    top: 0;
    background-color: #303030;
    color: white;
    opacity: 1;
}

.is-sticky a:link, .is-sticky a:visited { 
    color: white;
}  

footer {
    height: 110px;
    display: grid;
    text-align: center;
    color: #fcfcfc;
    background-color: #303030;
    font-size: 22px;
    padding: 20px;
    box-sizing: border-box;
}

footer a {
    margin-right: 5px;
    margin-left:5px;
}


footer a:link,footer a:visited { 
    color: #cf8bfc;
}

footer a:hover {
    color: #5656d9;
    text-decoration: underline;
}

/*responsive nav bar*/
.logo {
    margin: 0;
    float: left;
}

.navbutton {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .navbutton {
        font-size: 30px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    }

}

@media screen and (min-width: 750px) {
    .aboutMe {
        width: 40%
        order: 1;
    }

    .profileDec {
        margin: auto;
        order: 3
    }

    .mySkills {
        width: 60%;
        order: 2;
    }
}

@media screen and (max-width: 900px) {
    .navbar {
        position: fixed;
        text-align: right;
        background-color: #031229;
        color: white;
        width: 0;
        margin-top: 50px;
        padding-top: 5px;
        overflow-x: hidden;
        right: 0;
        top: 0;
        transition: all .5s;
        -webkit-transition: all .5s; 
    }

    .is-nav-stircky {
        background-color: #303030;
    }

    .navwidth {
        width: 200px;
    }

    .navbar > div {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar > div a:link, .navbar > div a:visited {
      color: white;
    }


    #opennav {
        float: right;
        font-size: 30px;
        cursor: pointer;
    }

    .fullWidth {
      width: 100%;
    }
}

@media screen and (min-width: 900px){
    header {
      padding-left: 40px;
      padding-right: 40px;
    }
    
    #closenav, #opennav {
        display: none;
    }

    .navbar {
        height: 100%;
        float: right;
    }

    .navbutton {
        display: inline-block;
        margin-left: 10px;
    }
}