body {
  font-family: 'Ubuntu', sans-serif;
  color: #303030;
  margin: 0;
  background-image: url(https://source.unsplash.com/-cKXtsJWU-I/1600x900);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

h1,h2 {
  margin: 0;
}

header {
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: all .5s;
   transition: all .5s; 
}

header a:link, header a:visited { 
  color: white;
}


a:link, a:visited { 
  color: black;
  text-decoration: none;
}

a:hover {
  color: #5656d9;
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* opening view greeting */
.greeting {
  box-sizing: border-box;
  padding-top: 40vh;
  text-align: center;
  height: 100vh;
  color: white;
}

.contactGreeting {
  display: flex;
  align-items: center;
  justify-content: center
}

.contackLink {
  margin: 10px;
}

.statementGreeting{
  font-size: 2em;
}

/* icons collors */
.githubIcon {
  color: white;
}

.linkedinIcon {
  color: #0077b5;
}

.resumeIcon {
  color: #cc0e0e;
}

.emailLink {
  color: #cf8bfc;
}

.contentBox {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.sectionTitle {
  margin-bottom: 60px;
  margin-top: 50px;
  font-size: 25px;
  width: 100%;
}

.decStart {
  font-size: 30px;
}

.skillList{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: #dedede;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 5px;
}

.profileImg {
  border-radius: 50%;
  margin-bottom: 30px;
  width: 300px;
}

.projectTemp {
  margin-bottom: 100px;
}

.projectTemp h3 {
  margin: 12px;
  font-size: 1.5em;
}

.projectImg {
  width: 100%;
}

.is-sticky {
  position: fixed;
  top: 0;
  background-color: #303030;
  color: white;
  opacity: 1;
}

.is-sticky a:link, .is-sticky a:visited { 
  color: white;
}  

footer {
  text-align: center;
  color: #fcfcfc;
  background-color: #303030;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}

footer > div {
  margin: 5px;
}

footer a {
  margin-right: 5px;
  margin-left:5px;
}


footer a:link,footer a:visited { 
  color: #fcfcfc;
}

footer a:hover {
  color: #5656d9;
  text-decoration: underline;
}

/*responsive nav bar*/
.logo {
  margin: 0;
  float: left;
}

.navbutton {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
  .navbutton {
      font-size: 30px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
    .navbar {
        position: fixed;
        text-align: right;
        background-color: #303030;
        color: white;
        width: 0;
        margin-top: 50px;
        padding-top: 5px;
        overflow-x: hidden;
        right: 0;
        top: 0;
        transition: all .5s;
        -webkit-transition: all .5s; 
    }

    .navwidth {
        width: 200px;
    }

    .navbar > div {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar > div a:link, .navbar > div a:visited {
      color: white;
    }


    #opennav {
        float: right;
        font-size: 30px;
        cursor: pointer;
    }

    .fullWidth {
      width: 100%;
    }
}

@media screen and (min-width: 900px){
    header {
      padding-left: 40px;
      padding-right: 40px;
    }
    
    #closenav, #opennav {
        display: none;
    }

    .navbar {
        height: 100%;
        float: right;
    }

    .navbutton {
        display: inline-block;
        margin-left: 10px;
    }
}